<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">
    <link rel="stylesheet" href="/assests/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheet/otherevents.css" />

    <title>Cognitia 2k19</title>
</head>

<body>
    <div class="mygrid">
        <nav class="side-nav-bar">
            <img class="logo-nav" src="/assests/images/svg/logo.svg" alt="">
            <ul>
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/events/robotics">
                    <li>Robotic Events</li>
                </a>
                <a href="/events/departmental">
                    <li>Departmental Events</li>
                </a>
                <a href="/registration">
                    <li>Registration</li>
                </a>
            </ul>
        </nav>
        <div class="container">
            <div class="jumbotron">
                <blockquote class="display-4">
                    <p>
                        <i class="fa fa-quote-left"></i>
                        Don't limit your challenges, Challenge your limits.
                        <i class="fa fa-quote-right"></i>
                    </p>
                </blockquote>
            </div>

            <div class="event-card">
                <img class="left" src="/assests/images/logo.jpeg" alt="">
                <div class="event-body">
                    <h3>Event 1</h3>
                    <p>YOYOY</p>
                </div>
            </div>
            <div class="event-card">
                <img class="right" src="/assests/images/logo.jpeg" alt="">
                <div class="event-body">
                    <h3>Event 2</h3>
                    <p>HOHOHO</p>
                </div>
            </div>
            <div class="event-card">
                <img class="left" src="/assests/images/logo.jpeg" alt="">
                <div class="event-body">
                    <h3>Event 3</h3>
                    <p>AKSJDKASJHDKA</p>
                </div>
            </div>
            <footer class="text-center mb-4">&copy; Cognitia 2019,NIT Meghalaya</footer>
        </div>
    </div>

</body>

</html>